.whymeat{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
    background-color: #F7F3E9;
    height: 30vw;
    flex-direction: column;
    padding-bottom: 3vw;
}
.whymeat_header {
    font-size: 3vw;
    font-weight: 600;
    color: #660F10;
}
.whylist{
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80px;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.why img{
    width: 3vw;
    height: 3vw;
    margin-right: 20px;
}
.why {
    font-size: 2vw;
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center; /* Center vertically */
    margin-left: 30%;
}
@media screen and (max-width: 1400px) {
    .whylist{
        grid-auto-rows: 30px;
    }
}